<div class="card">

<h3>
  Username : {{members.username}}
</h3>
  <p>Firstname : {{members.firstname}}</p>
  <p>Surname : {{members.surname}}</p>
  <p>Birthday : {{members.birthday}}</p>
  <p>วันที่สมัคร : {{members.dateregis | date:'fullDate'}}</p>
  <p>เบอร์โทร : {{members.tel}}</p>
  <p>บัตรประจำตัวประชาชน : {{members.personalcard}}</p>
  <p>สิทธิ์ : {{members.rightsType.rightsTypeName}}</p>
  <p>โรงพยาบาล : {{members.hospital.hospitalName}}</p>
  <p>จังหวัด : {{members.province.provinceName}}</p>
  <button mat-raised-button color="primary" (click)="onLogout()" *ngIf="isLoggedIn" style="margin-left:85%">Logout</button>
</div>

