<div class="card">
  <alert></alert>
  <h4 class = "center">วันที่ขอรับสิทธิ์ : <a> {{CurrentDate | date:'fullDate' }}</a> </h4>
  <mat-divider></mat-divider>
  <br>
  <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">

    <mat-form-field class="form">
      <mat-label>Username</mat-label>
      <input matInput  placeholder="3-20 ตัวอักษร"  [(ngModel)]="input.username" autocomplete="off" formControlName="username_no" >
    </mat-form-field>

    <mat-form-field class="formtab">
      <input matInput  placeholder="Password" type="password" [(ngModel)]="input.password" autocomplete="off" formControlName="password_no" >
    </mat-form-field>

    <br>

    <mat-form-field class="form">
      <input matInput placeholder="Firstname"  [(ngModel)]="input.firstname" autocomplete="off" formControlName="firstname_no" >
    </mat-form-field>

    <mat-form-field class="formtab">
      <input matInput  placeholder="Surname"  [(ngModel)]="input.surname" autocomplete="off" formControlName="surname_no" >
    </mat-form-field>
    <br>

    <mat-form-field class="form">
      <mat-label>เลือกวันเกิด</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy" [(ngModel)]="input.birthday" autocomplete="off" formControlName="birthday_no" >
      <mat-datepicker-toggle matSuffix [for]="picker" autocomplete="off"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>



    <mat-form-field class="formtab" >
      <mat-select placeholder="จังหวัด" [(ngModel)]="select.provincename" formControlName="province_no">
        <mat-option *ngFor="let province of provinces" [value]="province.provinceName" >
          {{province.provinceName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>

    <mat-form-field class="formcenter">
      <mat-select placeholder="ชนิดสัญญา" [(ngModel)]="select.rightstypename" formControlName="rightstype_no" >
        <mat-option *ngFor="let rightstype of rightstypes" [value]="rightstype.rightsTypeName">
          {{rightstype.rightsTypeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>


    <mat-form-field class="formcenter">
      <mat-select placeholder="โรงพยาบาล" [(ngModel)]="select.hospitalname"  formControlName="hospital_no" >
        <mat-option *ngFor="let hospital of hospitals" [value]="hospital.hospitalName">
          {{hospital.hospitalName}}
        </mat-option>
      </mat-select>
    </mat-form-field>



    <br>

    <mat-form-field appearance="legacy" class="formcenter" >
      <mat-label>บัตรประชาชน</mat-label>
      <input matInput placeholder="เลข 13 หลัก" [(ngModel)]="input.personalcard" autocomplete="off" formControlName="personal_no" >
    </mat-form-field>
    &nbsp;&nbsp;
    <a style="font-size:15px;color:red" *ngIf="myForm.controls['personal_no'].hasError('pattern')">ตัวเลข13หลัก</a>

    <br>
    <mat-form-field appearance="legacy" class="formcenter">
      <mat-label>โทรศัพท์*</mat-label>
      <input matInput placeholder="0 + ตัวเลข9หลัก" [(ngModel)]="input.tel" autocomplete="off" formControlName="tel_no">
    </mat-form-field>
    &nbsp;&nbsp;
    <a style="font-size:15px;color:red" *ngIf="myForm.controls['tel_no'].hasError('pattern')">0 + ตัวเลข9หลัก</a>

    <br>


    <div class="formcenter">
      <button mat-raised-button color="primary" >Register</button>
      &nbsp;&nbsp;
      <button mat-stroked-button  (click)="login()" color="primary" >Go to Login</button>
    </div>
  </form>
</div>
