
  <mat-card style="padding-left:40px;padding-right:40px;margin-top:130px">
    <alert></alert>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="font1">Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="userName" required autocomplete="off">

        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required autocomplete="off">

        </mat-form-field>
        <!-- -->
        <button mat-raised-button color="primary">Login</button>

      </form>
      <br>

<!--      matTooltip="Bug" matTooltipPosition="right"   แปะข้อความ  -->

      <p style="font-size:17px" >
        ถ้าคุณยังไม่เคยขอสิทธิ์ : &nbsp;
        <button stype="align:center" mat-stroked-button color="primary" (click)="register()"><b>สมัครขอสิทธิ์บัตรทอง</b></button>
      </p>
      <br>
    </mat-card-content>
  </mat-card>
  <p class="version" >Version 3.4.5.6</p>
