
  <mat-card style="padding-left:40px;padding-right:40px">
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <p>Version 1.0.0.0 </p>

        <p class="font1">Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User" formControlName="userName" required>

        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>

        </mat-form-field>
        <!-- -->

        <button mat-raised-button color="primary">Login</button>

      </form>
    </mat-card-content>
    <button mat-raised-button routerLink="goldCardRegister"  >Register(GoldCard)</button>

  </mat-card>

