<mat-card class=background-image>
  <h1 class="example-form">Medicine</h1>
</mat-card>
<mat-card class="background-image-matcart">
  <!-----------------------------------ชื่อยา----------------------------------------------->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="view.drug" name="drug" placeholder="ชื่อยา">
    </mat-form-field>
  </form>
  <!---------------------------------------------------------------------------------->
  <!--
<mat-select [(ngModel)]="view.position" name="position" placeholder="ตำแหน่ง">
  <mat-option *ngFor="let position(นำค่าที่ได้มาใส่ position) of Position(ดึงมาจาก tyscrip)" [value]="(ชื่อจาก Position มาใส่ position)position.position(ชื่อจาก database)">
      {{position.position}}
  </mat-option>
</mat-select>
ถ้าใช้ ngmodelไม่ได้ให้ import { FormsModule} from '@angular/forms';
-->
  <!---------------------------------ประเภทยา----------------------------------------------->
  <div class="example-form">
    <mat-form-field class="example-form">
      <mat-select [(ngModel)]="view.typesOfDrugs" name="typesOfDrugs" placeholder="ประเภทยา" >
        <mat-option >None</mat-option>
        <mat-option *ngFor="let typesOfDrugs of TypesOfDrugs " [value]="typesOfDrugs.typesOfDrugsName" >{{typesOfDrugs.typesOfDrugsName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-------------------------------------------------------------------------->



  <!--------------------------------ประเภททะเบียนยา--------------------------------------------->
  <div class="example-form">
    <mat-form-field class="example-form">
      <mat-select [(ngModel)]="view.drugRegistration" name="drugRegistration" placeholder="ประเภททะเบียนยา">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let drugRegistration of DrugRegistration " [value]="drugRegistration.drugRegistrationName">{{drugRegistration.drugRegistrationName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!------------------------------------------------------------------------------->


  <!--------------------------------รูปแบบผลิตภัณฑ์--------------------------------------------------->
  <div class="example-form">
    <mat-form-field class="example-form">
      <mat-select [(ngModel)]="view.typesOfDosageForms" name="typesOfDosageForms" placeholder="รูปแบบผลิตภัณฑ์">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let typesOfDosageForm of TypesOfDosageForms " [value]="typesOfDosageForm.typesOfDosageFormsName">{{typesOfDosageForm.typesOfDosageFormsName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!---------------------------------------------------------------------------------->

  <!----------------------------------โรค------------------------------------------------>
  <div class="example-form">
    <mat-form-field class="example-form">
      <mat-select [(ngModel)]="view.diseases" name="diseases" placeholder="โรค">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let disease of Diseases" [value]="disease.diseaseName">{{disease.diseaseName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!---------------------------------------------------------------------------------->
  <div  class="button-background">
    <button (click)="onSave()"  class="button-background"  mat-raised-button>ADD</button>
  </div>
</mat-card>

<mat-card class=background-image>
  <h1>Medicine Table</h1>
</mat-card>
<!--
<mat-card>
<mat-form-field class="example-form-search">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="search...">
</mat-form-field> 
</mat-card>
-->



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" 




      -->
  <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>   
        <td mat-cell *matCellDef="let row"> 
         <button mat-raised-button class="botton-edit-background" (click)="onEdit(row.drugId)" >Edit</button> 
         <button mat-raised-button class="botton-delete-background" (click)="onDelete(row.drugId)">delete</button> 
        </td>
  </ng-container>  

  
  <!-- Position Column -->
  <ng-container matColumnDef="drugId">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element" > {{element.drugId}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="drugName">
    <th mat-header-cell *matHeaderCellDef> ชื่อยา </th>
    <td mat-cell *matCellDef="let element"> {{element.drugName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="typesOfDrugs">
    <th mat-header-cell *matHeaderCellDef> ประเภทยา </th>
    <td mat-cell *matCellDef="let element"> {{element.typesOfDrugs.typesOfDrugsName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="drugRegistration">
    <th mat-header-cell *matHeaderCellDef> ประเภททะเบียนยา </th>
    <td mat-cell *matCellDef="let element"> {{element.drugRegistration.drugRegistrationName}} </td>
  </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="typesOfDosageForms">
    <th mat-header-cell *matHeaderCellDef> รูปแบบผลิตภัณฑ์ </th>
    <td mat-cell *matCellDef="let element"> {{element.typesOfDosageForms.typesOfDosageFormsName}} </td>
  </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="disease">
    <th mat-header-cell *matHeaderCellDef> โรค </th>
    <td mat-cell *matCellDef="let element"> {{element.disease.diseaseName}} </td>
  </ng-container>

  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

