<mat-card class=background-image>
  <h1 class="example-form">Edit Medical Supplies</h1>
</mat-card>
<mat-card class="background-image-matcart">
  <!-----------------------------------รหัสเวชภัณฑ์----------------------------------------------->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="view.codeNumber" name="codeNumber" placeholder="รหัสเวชภัณฑ์">
  </mat-form-field>
</form>
<!---------------------------------------------------------------------------------->
<!-----------------------------------หมายเลขรุ่น----------------------------------------------->
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput [(ngModel)]="view.modelNumber" name="modelNumber" placeholder="หมายเลขรุ่น">
    </mat-form-field>
  </form>
<!---------------------------------------------------------------------------------->
<!-----------------------------------ชื่อเวชภัณฑ์----------------------------------------------->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="view.medicalSupplies" name="medicalSupplies" placeholder="ชื่อเวชภัณฑ์">
  </mat-form-field>
</form>
<!---------------------------------------------------------------------------------->
<!-----------------------------------ชื่อแบรนด์----------------------------------------------->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="view.brandName" name="brandName" placeholder="ชื่อแบรนด์">
  </mat-form-field>
</form>
<!---------------------------------------------------------------------------------->

<!-----------------------------------คุณสมบัติ----------------------------------------------->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput [(ngModel)]="view.properties" name="properties" placeholder="คุณสมบัติ">
  </mat-form-field>
</form>
  <!--
<mat-select [(ngModel)]="view.position" name="position" placeholder="ตำแหน่ง">
  <mat-option *ngFor="let position(นำค่าที่ได้มาใส่ position) of Position(ดึงมาจาก tyscrip)" [value]="(ชื่อจาก Position มาใส่ position)position.position(ชื่อจาก database)">
      {{position.position}}
  </mat-option>
</mat-select>
ถ้าใช้ ngmodelไม่ได้ให้ import { FormsModule} from '@angular/forms';
-->
  <!---------------------------------อุปกรณ์การแพทย์----------------------------------------------->
  <div class="example-form">
    <mat-form-field class="example-form">
      <mat-select [(ngModel)]="view.medicalInstrument" name="medicalInstrument" placeholder="อุปกรณ์การแพทย์" >
        <mat-option >None</mat-option>
        <mat-option *ngFor="let medicalInstrument of MedicalInstrument " [value]="medicalInstrument.medicalInstrumentName" >{{medicalInstrument.medicalInstrumentName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-------------------------------------------------------------------------->



  <!--------------------------------การใช้งาน--------------------------------------------->
  <div class="example-form">
    <mat-form-field class="example-form">
      <mat-select [(ngModel)]="view.useability" name="useability" placeholder="การใช้งาน">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let useability of Useability " [value]="useability.useabilityName">{{useability.useabilityName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!------------------------------------------------------------------------------->
  <div  class="button-background">
    <button   (click)=onUpdate() class="button-background"  mat-raised-button>Update</button>
    <button   (click)=onCancel() class="button-background"  mat-raised-button>Cancel</button> 
   </div>
  </mat-card>