<mat-card class=background-image>
  <h1 class="example-form">Edit Medical Supplies</h1>
</mat-card>
<mat-card class="background-image-matcart">


  <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()" class="example-form">
    <!-----------------------------------รหัสเวชภัณฑ์----------------------------------------------->


    <mat-form-field class="example-full-width" hintLabel="Example C12345">
      <input matInput [(ngModel)]="view.codeNumber" name="codeNumber" placeholder="รหัสเวชภัณฑ์" autocomplete="off" formControlName= "codeNumber_no" #input maxlength="6">
      <mat-hint align="end">{{ view.codeNumber?.length || 0}}/6</mat-hint>
    </mat-form-field>
    <a style="font-size:15px;color:red" *ngIf="myForm.controls['codeNumber_no'].hasError('pattern')">รหัสเวชภัณฑ์ต้องขึ้นต้นด้วย C และมีตัวเลขทั้งหมด 5 ตัว</a>


    <!---------------------------------------------------------------------------------->
    <!-----------------------------------หมายเลขรุ่น----------------------------------------------->


    <mat-form-field class="example-full-width" hintLabel="Min 2 and Max 5 characters">
      <input matInput type="text" [(ngModel)]="view.modelNumber" name="modelNumber" placeholder="หมายเลขรุ่น"  autocomplete="off" formControlName= "modelNumber_no" #input maxlength="5">
      <mat-hint align="end">{{ view.modelNumber?.length || 0}}/5</mat-hint>
    </mat-form-field>

    <a style="font-size:15px;color:red"
      *ngIf="myForm.controls['modelNumber_no'].hasError('pattern')">กรุณากรอกหมายเลขรุ่น (1-5) ตัว</a>


    <!---------------------------------------------------------------------------------->
    <!-----------------------------------ชื่อเวชภัณฑ์----------------------------------------------->



    <mat-form-field class="example-full-width" hintLabel="Min 2 and Max 30 characters">
      <input matInput [(ngModel)]="view.medicalSupplies" name="medicalSupplies" placeholder="ชื่อเวชภัณฑ์" autocomplete="off" formControlName= "medicalSupplies_no" #input maxlength="30">
      <mat-hint align="end">{{ view.medicalSupplies?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <a style="font-size:15px;color:red"
      *ngIf="myForm.controls['medicalSupplies_no'].hasError('pattern')">กรุณากรอกชื่อเวชภัณฑ์ (2-30) ตัว</a>


    <!---------------------------------------------------------------------------------->
    <!-----------------------------------ชื่อแบรนด์----------------------------------------------->


    <mat-form-field class="example-full-width" hintLabel="Min 2 and Max 10 characters">
      <input matInput [(ngModel)]="view.brandName" name="brandName" placeholder="ชื่อแบรนด์" autocomplete="off" formControlName="brandName_no" #input maxlength="10">
      <mat-hint align="end">{{ view.brandName?.length || 0}}/10</mat-hint>
    </mat-form-field>
    <a style="font-size:15px;color:red" *ngIf="myForm.controls['brandName_no'].hasError('pattern')">กรุณากรอกชื่อแบรนด์(2-10) ตัว</a>


    <!---------------------------------------------------------------------------------->

    <!-----------------------------------คุณสมบัติ----------------------------------------------->



    <mat-form-field class="example-full-width" hintLabel="Min 2 and Max 30 characters">
      <input matInput [(ngModel)]="view.properties" name="properties" placeholder="คุณสมบัติ" autocomplete="off" formControlName="properties_no" #input maxlength="30">
      <mat-hint align="end">{{ view.properties?.length || 0}}/30</mat-hint>
    </mat-form-field>
    <a style="font-size:15px;color:red" *ngIf="myForm.controls['properties_no'].hasError('pattern')">กรุณากรอกคุณสมบัติ
      (2-30) ตัว</a>



    <!---------------------------------------------------------------------------------->

    <!--
    <mat-select [(ngModel)]="view.position" name="position" placeholder="ตำแหน่ง">
      <mat-option *ngFor="let position(นำค่าที่ได้มาใส่ position) of Position(ดึงมาจาก tyscrip)" [value]="(ชื่อจาก Position มาใส่ position)position.position(ชื่อจาก database)">
          {{position.position}}
      </mat-option>
    </mat-select>
    ถ้าใช้ ngmodelไม่ได้ให้ import { FormsModule} from '@angular/forms';
    -->
    <!---------------------------------อุปกรณ์การแพทย์----------------------------------------------->
    <div class="example-form">


      <mat-form-field class="example-form">
        <mat-select [(ngModel)]="view.medicalInstrument" name="medicalInstrument" placeholder="อุปกรณ์การแพทย์" formControlName="medicalInstrument_no">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let medicalInstrument of MedicalInstrument "
            [value]="medicalInstrument.medicalInstrumentName">{{medicalInstrument.medicalInstrumentName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <a style="font-size:15px;color:red"
        *ngIf="myForm.controls['medicalInstrument_no'].hasError('pattern')">กรุณาเลือกอุปกรณ์การแพทย์</a>
    </div>
    <!-------------------------------------------------------------------------->



    <!--------------------------------การใช้งาน--------------------------------------------->
    <div class="example-form">
      <mat-form-field class="example-form">
        <mat-select [(ngModel)]="view.useability" name="useability" placeholder="การใช้งาน" formControlName="useability_no">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let useability of Useability " [value]="useability.useabilityName">
            {{useability.useabilityName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <a style="font-size:15px;color:red"
        *ngIf="myForm.controls['useability_no'].hasError('pattern')">กรุณาเลือกการใช้งาน</a>
    </div>
    <!------------------------------------------------------------------------------->
  </form>


  <div class="button-background">
    <button (click)=onUpdate() class="button-background" mat-raised-button>Update</button>
    <button (click)=onCancel() class="button-background" mat-raised-button>Cancel</button>
  </div>


</mat-card>