
<mat-toolbar color="primary"
 *ngIf="isLoggedIn$ | async as isLoggedIn"
             style="height:40px;padding:5px" >


  <!-- -->

  <span>
    <button mat-button  routerLink="EligibleDiseases">โรคที่มีสิทธิ์</button>
    <button mat-button  routerLink="TreatmentHistory">ประวัติการรักษาโรค</button>
    <button mat-button routerLink="hospitalRegister" >ลงทะเบียนโรงพยาบาล</button>
    <button mat-button routerLink="addMidicine" >ลงทะเบียนยา</button>
    <button mat-button  routerLink="GDCard">รายละเอียดผู้ถือบัตร</button>
  </span>

  <!-- -->
  <span class="example-spacer"></span>

  <span>
      <button mat-button routerLink="home">Home</button>
  </span>
  <!-- -->
  <span class="example-spacer"></span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu2">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu2="matMenu">
      <button mat-menu-item routerLink="goldCardRegister" *ngIf="isLoggedIn" >Register(GoldCard)</button>
    </mat-menu>

    </span>
<span>
  <div>
    <button mat-icon-button (click)="onLogout()" *ngIf="isLoggedIn" style="margin-right:10px">Logout </button>
  </div>
</span>

</mat-toolbar>
