@import '@angular/material/prebuilt-themes/indigo-pink.css';

.font1{
  font-family: 'Tangerine', serif;
   font-size: 50px;
   text-shadow: 4px 4px 4px #aaa;
   margin : 10px;
 }

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.card{
border-radius: 5px;
  max-width: 500px;
  margin: 2em auto;
  margin-top : 0px;
  padding-top : 10px;
  padding : 10px 50px 50px 50px;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.cardlog{
  text-align:center;
  margin : 500;
  height: 100px;
  width: 300px;
  border-radius: 2px;
  margin-bottom : 0px;
  padding-top : 10px;
  padding : 10px 50px 20px 50px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #000;
}


.version-info {
  font-size: 8pt;
  float: right;
}

