

<p style="font-size: 22px; background-color: #ffc000">
  &nbsp;&nbsp; &nbsp; เพิ่ม-ลบ โรคที่มีสิทธิ์ในการรับรักษาด้วยบัตรประกันสุขภาพ

</p>



<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 90%;
    }
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
<div class="body2">
  <body>


  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3  align="center"> เพิ่ม </h3>
        </mat-panel-title>
        <mat-panel-description>

          <h3  align="center" style="color: #f7ca18"><mat-icon>add_circle</mat-icon>  เพิ่ม โรคที่มีสิทธิ์  </h3>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div style="background-color: #ffc000">
        <br>
        <mat-card style="width:400px">
          <mat-card-content>
            <h3 style="background-color: #ffc000">&nbsp;&nbsp;โรค</h3>

            <mat-form-field style="width :100%">
              <mat-select placeholder="โรค" [(ngModel)]="ed.DiseaseSelect" name="diseaseName">
                <mat-option *ngFor="let Disease of diseases" [value]="Disease.diseaseName">
                  {{Disease.diseaseName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <form #checkdataUser="ngForm" [formGroup]="EligibleForm" (ngSubmit)="Check(checkdataUser.value)" class="flex-item">

              <mat-form-field hintLabel="" style="width :100%">
                <input matInput placeholder="เลขเอกสารอ้างอิง" [(ngModel)]="ed.DocumentSelect"  autocomplete="off" formControlName="Document_check">
              </mat-form-field>
              <a style="font-size:15px;color:red" *ngIf="EligibleForm.controls['Document_check'].hasError('pattern')">กรุณา กรอก Document เป็นตัวเลข ให้ถูกต้อง</a>

              <mat-form-field hintLabel="" style="width :100%">
                <input matInput placeholder="Code Eligible Disease" [(ngModel)]="ed.CodeSelect"  autocomplete="off" formControlName="Code_check">
              </mat-form-field>
              <a style="font-size:15px;color:red" *ngIf="EligibleForm.controls['Code_check'].hasError('pattern')">กรุณา กรอก Code ขึ้นต้นด้วย El และ ความยาว 5 - 25 ตัวอักษร ให้ถูกต้อง</a>

              <br>
             <a style="font-size:10px;color:red" >{{this.output.code}}</a>
              <br>
              <h3 style="background-color: #ffc000">ผู้ยืนยัน</h3>

              <mat-form-field hintLabel="" style="width :100%">
                <input matInput placeholder="Username" [(ngModel)]="checkdataUser.username" [(ngModel)]="ed.UsernameSelect"  autocomplete="off" formControlName="User_check" name="username">
              </mat-form-field>
              <a style="font-size:15px;color:red" *ngIf="EligibleForm.controls['User_check'].hasError('pattern')">กรุณา กรอก Username ความยาว 5 - 40 ตัวอักษร ให้ถูกต้อง</a>

              <mat-form-field hintLabel="" style="width :100%">
                <input matInput type="password" placeholder="Password" [(ngModel)]="checkdataUser.password" [(ngModel)]="ed.PasswordSelect"   autocomplete="off" formControlName="Password_check" name="password">
              </mat-form-field>
              <a style="font-size:15px;color:red" *ngIf="EligibleForm.controls['Password_check'].hasError('pattern')">กรุณา กรอก Password ความยาว 4 - 20 ตัวอักษร ให้ถูกต้อง</a>

            </form>
            <a style="font-size:10px;color:red" >{{this.output.userpass}}</a>
            <a style="font-size:10px;color:red" *ngIf="!ed.PasswordSelect ||!ed.UsernameSelect ||!ed.CodeSelect ||!ed.DocumentSelect ||!ed.DiseaseSelect">*กรุณากรอกข้อมูลให้ครบถ้วน</a>
<br>


            <button type="submit" mat-stroked-button (click)="Check(checkdataUser.value)" color="warn">เพิ่ม</button>

          </mat-card-content>
        </mat-card>
        <br>
      </div>

    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3  align="center">    ลบ </h3>
        </mat-panel-title>
        <mat-panel-description>
          <h3  align="center" style="color: #cf000f"><mat-icon>block</mat-icon>  ลบ โรคที่มีสิทธิ์       </h3>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div style="background-color: #d64541">
        <br/>
        <mat-card style="width:400px">
          <mat-card-content>
            <h3 style="background-color: #d64541; color:white">&nbsp;&nbsp;โรค</h3>
            <br/><br/>
            <mat-form-field style="width :100%">
              <mat-select placeholder="No - ชื่อโรค" [(ngModel)]="ed.DeleteSelect" name="IDEligibleDiseases">
                <mat-option *ngFor="let EligibleDiseases of eligibleDiseases" [value]="EligibleDiseases.ideligibleDiseases">
                  {{EligibleDiseases.ideligibleDiseases}}      {{EligibleDiseases.disease.diseaseName}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <a *ngIf="!ed.DeleteSelect" style="font-size:10px;color:red">*กรุณากรอกข้อมูลให้ครบถ้วน</a>
            <br>
            <button mat-raised-button (click)="Delete()" color="warn">ลบ</button>

            <br/><br/><br/>


          </mat-card-content>
        </mat-card>
        <br/>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br><br><br>

  <h3 style="background-color: #3fc380; color: white"  >&nbsp;&nbsp;&nbsp;&nbsp;โรคที่มีสิทธิ์</h3>
  <mat-card>
    <mat-card-content>
  <div align="center">
    <table class="mat-elevation-z8">
      <tr>
        <th>No</th>
        <th>ชื่อโรค</th>
        <th>เอกสารอ้างอิง</th>
        <th>ผู้ยืนยัน</th>

      </tr>

      <tr *ngFor="let EligibleDiseases of eligibleDiseases">
        <td>{{EligibleDiseases.ideligibleDiseases}}</td>
        <td>{{EligibleDiseases.disease.diseaseName}}</td>
        <td>{{EligibleDiseases.documentWork.numberDocument}}  {{EligibleDiseases.documentWork.title}}</td>
        <td>{{EligibleDiseases.officer.officerName}}</td>
      </tr>
    </table>
  </div>
    </mat-card-content>
  </mat-card>

  </body>

</div>


