.treatment {
  text-align : center;
  border-radius: 5px;
    max-width: 500px;
    margin: 2em auto;
    margin-top : 5%;
    padding-bottom : 25px;
    background: rgba(255, 255, 255,0.7);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%
}

.center{
  text-align : center;
}
.tab{
  margin-left : 30px;
}
